.header {
	overflow: hidden;
	position: fixed;
	width: 360px;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	padding: 0;	
	z-index: 1;
}

.footer {
	overflow: hidden;
	position: fixed;
	width: 360px;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-around;
	padding-bottom: 35px;

}

.img {
	width: 380px;
	height: 200px;
	margin-top: 40px;
}

.icon {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0%;
}

.small {
	font-size: 15px;
	margin: 2px;

}
p {
	line-height: 22px;
}

@media only screen and (max-width: 600px) {
	.header {
		overflow: hidden;
		position: fixed;
		width: 360px;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-around;

	}
	.main-container {
		width: 360px;
		height: 100vh;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

	}
}
@media only screen and (min-width: 992px) {
	.main-container {
		width: 380px;
		height: 100vh;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (min-width: 768px) {
	.main-container {
		width: 380px;
		height: 100vh;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media only screen and (min-width: 600px) { 
	.main-container {
		width: 380px;
		height: 100vh;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
 }